<div class="container-fluid padding">
    <div class="row welcome text-center">
        <div class="col-12">
            <br>
            <br>
            <h1>Thank you <%=current_user.username%> for your generous Donation!</h1>
            <br>
            <br>
            <p>
                <h4>
                    Your gift has been received! your efforts will not only improve lives; they will transform furtures. Togethter,
                    we are bringing help for today and hope for tomorrow!
                </h4>
            </p>
        </div>
    </div>
</div>