<div class="container-fluid padding">
        <div class="row welcome text-center">
                <div class="col-12">

                        <%if logged_in?%>
                        <h1>Create A new Fundraiser: </h1>

                        <form method="POST" action="/campaigns">
                                <label for="campaign_title">Title:</label>
                                <input type="text" name="title" id="campaign_title">
                                <br>
                                <label for="campaign_description">Description:</label>
                                <textarea name="description" id="campaign_description">Tell us a bit more about your cause.
                                </textarea>
                                <br>
                                <br>
                                <label for="campaign_goal_amount">Your Goal Amount:</label>
                                <input type="number" name="goal_amount" id="campaign_goal_amount">
                                <br>
                                <br>
                                <input type="submit" value="Submit">
                        </form>
                        <%end%>
                </div>
        </div>
</div>
