<!--  Jumbotron  -->
<div class="container-fluid">
        <div class="row jumbotron">
                <div class="col-xs-12 col sm-12 col-md-9 col-lg-9 col-xl-10">
                        <p class="lead">This is a project I built for my Flatiron School curriculum. This project came out of a dream to make the world a better place. With our shared inspiration, we can help bring changes to our world by 
                        helping an individual, supporting a community in need of help. That's how we will change the world. Our goal is to bring a change by giving everyone the chance to tell their story and 
                        share it with the rest of the world through this website and World Wide Web. Hope this is just the start of a new beginning...
                        </p>
                </div>
                <div class="col-xs-12 col-sm-12 col-md-3 col-lg-3 col-xl-2">
                        <a href="campaigns/new"><button type="button" class="btn btn-outline-secondary btn-sm">
                        Create a Campaign Today
                        </button></a>
                </div>
        </div>
</div>
